/* Import Font Plus Jakarta Sans */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap');

html, body {
  background-color: #FBF5DF;
  color: #8E322B;
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}

/* CUSTOM SCROLLBAR TEMA SOFT */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #FBF5DF; }
::-webkit-scrollbar-thumb { background: #8E322B; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #CD6659; }

/* TEXT SELECTION */
::selection { background-color: #8E322B; color: #E8CFA6; }

/* Hide default scrollbar */
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }